In [3]:
print('##### Random Forest Classification on Kaggle Data #####')

print('----- Importing required libraries & modules-----')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor # random forest regression
# from sklearn.linear_model import LogisticRegression
# from sklearn import linear_model
from scipy.special import expit

##### Random Forest Classification on Kaggle Data #####
----- Importing required libraries & modules-----

In [4]:
print('----- Importing dataset -----')
dataTrain = pd.read_csv('train.csv')
dataTrain = dataTrain.dropna()
dataTest = pd.read_csv('test.csv')

print ('Training Data : Imported Rows, Columns - ', dataTrain.shape)
print ('Testing Data : Imported Rows, Columns - ', dataTest.shape)
print ('Data Head :')
dataTrain.head()

----- Importing dataset -----
('Training Data : Imported Rows, Columns - ', (16968, 14))
('Testing Data : Imported Rows, Columns - ', (8576, 13))
Data Head :

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
5,189129552,10.5,3407.0,182.0,0.0000,112.0,11/1/2019 5:38,11/1/2019 6:35,7.13402,79.8969,6.91865,79.8649,1065.02,correct

In [5]:
dataTest.head()

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare
0,213284604,10.5,924,42,2.4486,148,2/1/2020 0:38,2/1/2020 0:53,6.83454,79.8750,6.77490,79.8840,289.27
1,213286352,10.5,4249,20,0.0000,91,2/1/2020 1:02,2/1/2020 2:13,6.91168,79.8723,6.55091,79.9706,1912.70
2,213293973,10.5,1552,255,2.6588,23,2/1/2020 5:02,2/1/2020 5:28,6.92145,79.8478,6.90539,79.8989,394.00
3,213294622,10.5,462,16,0.0000,198,2/1/2020 5:30,2/1/2020 5:38,6.77433,79.9416,6.80401,79.9407,154.32
4,213298687,10.5,814,392,12.3692,69,2/1/2020 7:00,2/1/2020 7:14,6.97968,79.9130,6.98875,79.8914,147.47

In [6]:
print('----- Preprocessing Data -----')

    # interpret columns as appropriate data types to ensure compatibility
dataTrain['tripid']                    = dataTrain['tripid'].astype(int)
dataTrain['additional_fare']           = dataTrain['additional_fare'].astype(float)
dataTrain['duration']                  = dataTrain['duration'].astype(float)
dataTrain['meter_waiting']             = dataTrain['meter_waiting'].astype(float)
dataTrain['meter_waiting_fare']        = dataTrain['meter_waiting_fare'].astype(float)
dataTrain['meter_waiting_till_pickup'] = dataTrain['meter_waiting_till_pickup'].astype(float)
dataTrain['pickup_time']               = pd.to_datetime(dataTrain['pickup_time'],format= '%m/%d/%Y %H:%M')
dataTrain['drop_time']                 = pd.to_datetime(dataTrain['drop_time'],format= '%m/%d/%Y %H:%M')
dataTrain['pick_lat']                  = dataTrain['pick_lat'].astype(float)
dataTrain['pick_lon']                  = dataTrain['pick_lon'].astype(float)
dataTrain['drop_lat']                  = dataTrain['drop_lat'].astype(float)
dataTrain['drop_lon']                  = dataTrain['drop_lon'].astype(float)
dataTrain['fare']                      = dataTrain['fare'].astype(float)
dataTrain['label']                     = dataTrain['label'].map({'correct': 1, 'incorrect': 0})

x_train = dataTrain.drop(['pickup_time','drop_time','label','tripid'],axis=1).to_numpy()

y_train = dataTrain['label'].to_numpy()





# y_val = y_pred.to_numpy()

# dfnew = np.column_stack((x_id, y_val))
# print ('Predicted Data : Rows, Columns - ', dfnew.shape)
# dfnew.head()

----- Preprocessing Data -----

In [7]:
dataTest['tripid']                    = dataTest['tripid'].astype(int)
dataTest['additional_fare']           = dataTest['additional_fare'].astype(float)
dataTest['duration']                  = dataTest['duration'].astype(float)
dataTest['meter_waiting']             = dataTest['meter_waiting'].astype(float)
dataTest['meter_waiting_fare']        = dataTest['meter_waiting_fare'].astype(float)
dataTest['meter_waiting_till_pickup'] = dataTest['meter_waiting_till_pickup'].astype(float)
dataTest['pickup_time']               = pd.to_datetime(dataTest['pickup_time'],format= '%m/%d/%Y %H:%M')
dataTest['drop_time']                 = pd.to_datetime(dataTest['drop_time'],format= '%m/%d/%Y %H:%M')
dataTest['pick_lat']                  = dataTest['pick_lat'].astype(float)
dataTest['pick_lon']                  = dataTest['pick_lon'].astype(float)
dataTest['drop_lat']                  = dataTest['drop_lat'].astype(float)
dataTest['drop_lon']                  = dataTest['drop_lon'].astype(float)
dataTest['fare']                      = dataTest['fare'].astype(float)

x_id = dataTest['tripid'].to_numpy()
x_test = dataTest.drop(['pickup_time','drop_time','tripid'],axis=1).to_numpy()

In [8]:
print('----- Training Classifier -----')

rf = RandomForestRegressor(n_estimators=100)
model = rf.fit(x_train, y_train)
y_predicted = rf.predict(x_test)
y_predicted = np.rint(y_predicted)
print(y_predicted)
y_pred = pd.DataFrame(data=y_predicted, columns=["prediction"])
y_pred.to_csv('file_name.csv')

----- Training Classifier -----
[1. 1. 1. ... 1. 1. 1.]

In [9]:
y_pred.head()
y_pred.to_csv('out.csv', index = False, header=True)

# PLEASE NOTE THAT THE OUTPUT FILE CONTAINS ONLY THE PREDICTIONS COLUMN