In [1]:
print('##### SVM Classification on Kaggle Data #####')

print('----- Importing required libraries & modules-----')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
# from sklearn.linear_model import LogisticRegression
# from sklearn import linear_model
from scipy.special import expit

##### SVM Classification on Kaggle Data #####
----- Importing required libraries & modules-----

In [14]:
print('----- Importing dataset -----')
data = pd.read_csv('train.csv',  na_values=['?'])

data.columns = ['tripid','additional_fare','duration','meter_waiting','meter_waiting_fare','meter_waiting_till_pickup','pickup_time','drop_time','pick_lat','pick_lon','drop_lat','drop_lon','fare','label']
feature_columns = ['additional_fare','duration','meter_waiting','meter_waiting_fare','meter_waiting_till_pickup','pick_lat','pick_lon','drop_lat','drop_lon','fare']


print ('Imported Rows, Columns - ', data.shape)
print ('Data Head :')
data.head()

----- Importing dataset -----
('Imported Rows, Columns - ', (17176, 14))
Data Head :

,tripid,additional_fare,duration,meter_waiting,meter_waiting_fare,meter_waiting_till_pickup,pickup_time,drop_time,pick_lat,pick_lon,drop_lat,drop_lon,fare,label
0,189123628,10.5,834.0,56.0,0.0000,64.0,11/1/2019 0:20,11/1/2019 0:34,6.86252,79.8993,6.90330,79.8783,270.32,correct
1,189125358,10.5,791.0,47.0,0.0000,134.0,11/1/2019 0:56,11/1/2019 1:09,6.88589,79.8984,6.91373,79.8923,197.85,correct
2,189125719,10.5,1087.0,80.0,0.0000,61.0,11/1/2019 1:08,11/1/2019 1:26,6.90839,79.8651,6.93669,79.9146,301.64,correct
3,189127273,10.5,598.0,271.0,15.6638,68.0,11/1/2019 2:27,11/1/2019 2:37,6.92570,79.8895,6.92748,79.8971,82.30,correct
4,189128020,NaN,NaN,NaN,NaN,NaN,11/1/2019 3:34,11/1/2019 3:51,6.87441,79.8615,6.84478,79.9290,358.39,correct

In [15]:
print('----- Preprocessing Data -----')

processedData = data.dropna() #dropping missing value rows

# print(processedData[processedData["fare"].isna()].shape)

print ('Complete Rows, Columns - ', processedData.shape)

X = processedData[feature_columns]
Y = processedData["label"]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20)

print('----- Training Classifier -----')

svclassifier = SVC(gamma="scale", C=0.01)
svclassifier.fit(X_train, Y_train)

----- Preprocessing Data -----
('Complete Rows, Columns - ', (16968, 14))
----- Training Classifier -----

SVC(C=0.01, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [16]:
print('----- Testing Classifier -----')
Y_pred = svclassifier.predict(X_test)

from sklearn import metrics

print("Accuracy:  %.2f%%",metrics.accuracy_score(Y_test, Y_pred)*100.0)

from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(Y_test,Y_pred))
print(classification_report(Y_test,Y_pred))

----- Testing Classifier -----
('Accuracy:  %.2f%%', 90.21803182086035)
[[3062    0]
 [ 332    0]]
              precision    recall  f1-score   support

     correct       0.90      1.00      0.95      3062
   incorrect       0.00      0.00      0.00       332

   micro avg       0.90      0.90      0.90      3394
   macro avg       0.45      0.50      0.47      3394
weighted avg       0.81      0.90      0.86      3394

/usr/local/lib/python2.7/dist-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)